@model IEnumerable<EventsViewModels>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/Events/Detail">Add Event</a>
@if (Model != null)
{
    foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.EventId)
        if (item.UserId==WebApp.HelperClass.Common.CurrentUser.Id)
        {
            <a href="/Events/Detail/@item.EventId">Edit</a>
            <a href="/Events/Detail/@item.EventId">Delete</a>
            <a href="/Events/Challenge/@item.EventId" data-toggle="modal" class="btn btn-outline pull-right animated tada"> Challenge </a>
        }
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.EventName)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.SportName)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.VenueName)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.StartDate)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.EndDate)
                </div>
            </div>
        </div>
    </div>
    }
}
<div class="modal inmodal" id="modal-container" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
        </div>
    </div>
</div>