@model IEnumerable<EventsViewModels>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/Events/Detail">Add Event</a>
@if (Model != null)
{
    foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.EventId)
        if (item.UserId==WebApp.HelperClass.Common.CurrentUser.Id)
        {
            <a href="/Events/Detail/@item.EventId">Edit</a>
            <a href="/Events/Detail/@item.EventId">Delete</a>
            <a href="/Events/Detail/@item.EventId">Challenge</a>
        }
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.EventName)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.SportName)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.VenueName)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.StartDate)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.EndDate)
                </div>
            </div>
        </div>
    </div>
    }
}