<!DOCTYPE html>
<html lang="en">
<head>
    <title>Able Pro Responsive Bootstrap 4 Admin Template by Phoenixcoded</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords"
          content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    
    <!-- Google font-->
    <link href="~/assets/fonts/google-fonts.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="/assets/icon/simple-line-icons/css/simple-line-icons.css">

    @Styles.Render("~/Content/themecss")
    <style>
        .required{
            color:red !important;
        }
    </style>
</head>
<body class="sidebar-mini fixed">

    <!-- Top-Navbar-->
    @Html.Partial("_TopHeader")
    <!-- Side-Nav-->
    @Html.Partial("_LeftNavigation")
    <!-- Sidebar chat -->
    @Html.Partial("_chatpanel")

    <div class="wrapper">
        <div class="loader-bg">
            <div class="loader-bar">
            </div>
        </div>

        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>@ViewBag.Title</h4>
                            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                                <li class="breadcrumb-item">
                                    <a href="index.html"><i class="icofont icofont-home"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Forms</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="general-elements-bootstrap.html">General Elements</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- Main content starts -->
                @RenderBody()
            </div>
        </div>
    </div>


    <!-- Required Jqurey -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/themejs")
    <script type="text/javascript">SyntaxHighlighter.all();</script>

</body>
</html>