<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sports Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords"
          content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon2.ico" type="image/x-icon">
    
    <!-- Google font-->
    <link href="~/assets/fonts/google-fonts.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="/assets/icon/simple-line-icons/css/simple-line-icons.css">
    <link href="~/assets/icon/icofont/css/icofont.css" rel="stylesheet" />
    <link href="~/assets/icon/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />

    <!-- Theme css-->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bower_components/syntaxhighlighter/styles/shCoreDjango.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <link href="~/assets/css/color/color-1.min.css" rel="stylesheet" />


    @*@Styles.Render("~/Content/themecss")*@
    <style>
        .required{
            color:red !important;
        }
    </style>
</head>
<body class="sidebar-mini fixed">

    <!-- Top-Navbar-->
    @Html.Partial("_TopHeader")
    <!-- Side-Nav-->
    @*@Html.Partial("_LeftNavigation")*@
    <!-- Sidebar chat -->
    @Html.Partial("_chatpanel")

    <div class="wrapper">
        <div class="loader-bg">
            <div class="loader-bar">
            </div>
        </div>

        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>@ViewBag.Title</h4>
                        </div>
                    </div>
                </div>
                <!-- Main content starts -->
                @RenderBody()
            </div>
        </div>
    </div>



    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/bower_components/Waves/dist/waves.min.js"></script>
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>
    <script src="~/bower_components/classie/classie.js"></script>
    <script src="~/assets/plugins/notification/js/bootstrap-growl.min.js"></script>
    <script src="~/bower_components/syntaxhighlighter/scripts/shCore.js"></script>
    <script src="~/bower_components/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script src="~/bower_components/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/pages/elements.js"></script>
    <script src="~/assets/js/menu.min.js"></script>
    
    <!-- Required Jqurey -->
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/themejs")*@

</body>
</html>